<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../">
  <title data-ice="title">screens/_deprecated/PaymentPage.js | gaps</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  </ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">screens/_deprecated/PaymentPage.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">// // Not using this screen
// import React, { Component } from &quot;react&quot;;
// import { View, StyleSheet, Platform } from &quot;react-native&quot;;
// import {
//   Container,
//   Content,
//   Button,
//   Icon,
//   Right,
//   Text,
//   Item,
//   Label,
//   Form,
//   Picker,
//   Input
// } from &quot;native-base&quot;;
// import Image from &quot;react-native-remote-svg&quot;;
// import { withNavigation } from &quot;react-navigation&quot;;
// import { connect } from &quot;react-redux&quot;;
// import { Field, reduxForm } from &quot;redux-form&quot;;
// import UserInput from &quot;../components/UserInput&quot;;
// import UserInputOptions from &quot;../components/OptionUserInput/Payment&quot;;
// import ScreenHeader from &quot;../components/ScreenHeader&quot;;

// class PaymentPageNotConnected extends Component {
//   constructor(props) {
//     super(props);
//     this.state = {
//       fontLoaded: false,
//       boxTicked: false,
//       selected2: undefined,
//       text: &quot;&quot;
//     };
//   }

//   render() {
//     return (
//       &lt;Container&gt;
//         &lt;ScreenHeader navigation={this.props.navigation} /&gt;
//         {this.props.reviewAgencyID ||
//         this.props.reason ||
//         this.props.lastName ||
//         this.props.firstName ? (
//           &lt;Content
//             style={{
//               flex: 1,
//               width: Platform.OS === &quot;android&quot; ? 500 : &quot;auto&quot;,
//               backgroundColor: &quot;#ffffff&quot;
//             }}
//           &gt;
//             &lt;View style={style.departmentBg}&gt;
//               Text{&quot; &quot;}
//               &lt;Image
//                 source={require(&quot;../../src/assets/view_status/preregistration.png&quot;)}
//                 style={style.courtLogo}
//               /&gt;
//               &lt;Text style={style.departmentTitle}&gt;
//                 Georgia State-Only Background Checks (GABC)
//               &lt;/Text&gt;
//             &lt;/View&gt;
//             &lt;Text style={style.newRegistrationStyle}&gt;Credit Card Payment&lt;/Text&gt;

//             {/* Appended info */}
//             &lt;View style={{ left: 25 }}&gt;
//               &lt;Item style={{ borderColor: &quot;transparent&quot;, left: 20, top: 10 }}&gt;
//                 &lt;Text
//                   style={{
//                     color: &quot;#1F1F1D&quot;,
//                     top: 10,
//                     marginBottom: 20,
//                     fontFamily: &quot;Segoeui&quot;
//                   }}
//                 &gt;
//                   Registration ID:{&quot; &quot;}
//                 &lt;/Text&gt;
//                 &lt;Text style={{ fontFamily: &quot;Segoeui-Semibold&quot; }}&gt;Input&lt;/Text&gt;
//               &lt;/Item&gt;
//               &lt;Item style={{ borderColor: &quot;transparent&quot;, left: 20, top: 10 }}&gt;
//                 &lt;Text
//                   style={{
//                     color: &quot;#1F1F1D&quot;,
//                     top: 10,
//                     marginBottom: 20,
//                     fontFamily: &quot;Segoeui&quot;
//                   }}
//                 &gt;
//                   Name:{&quot; &quot;}
//                 &lt;/Text&gt;
//                 &lt;Text style={{ fontFamily: &quot;Segoeui-Semibold&quot; }}&gt;
//                   {this.props.firstName} {this.props.lastName}
//                 &lt;/Text&gt;
//               &lt;/Item&gt;
//               &lt;Item style={{ borderColor: &quot;transparent&quot;, left: 20, top: 10 }}&gt;
//                 &lt;Text
//                   style={{
//                     color: &quot;#1F1F1D&quot;,
//                     top: 10,
//                     marginBottom: 20,
//                     fontFamily: &quot;Segoeui&quot;
//                   }}
//                 &gt;
//                   Transaction Type:{&quot; &quot;}
//                 &lt;/Text&gt;
//                 &lt;Text style={{ fontFamily: &quot;Segoeui-Semibold&quot; }}&gt;
//                   {this.props.reason}
//                 &lt;/Text&gt;
//               &lt;/Item&gt;
//               &lt;Item style={{ borderColor: &quot;transparent&quot;, left: 20, top: 10 }}&gt;
//                 &lt;Text
//                   style={{
//                     color: &quot;#1F1F1D&quot;,
//                     top: 10,
//                     marginBottom: 20,
//                     fontFamily: &quot;Segoeui&quot;
//                   }}
//                 &gt;
//                   Transaction Fee:{&quot; &quot;}
//                 &lt;/Text&gt;
//                 &lt;Text style={{ fontFamily: &quot;Segoeui-Semibold&quot; }}&gt;$8.50&lt;/Text&gt;
//               &lt;/Item&gt;
//             &lt;/View&gt;

//             {/* Payment input */}
//             &lt;Form handleSubmit={() =&gt; this.handleSubmit()}&gt;
//               &lt;View style={style.sectionStyle}&gt;
//                 &lt;Text style={style.sectionTextStyle}&gt;
//                   Credit Card Information
//                 &lt;/Text&gt;
//                 &lt;Text style={style.sectionTextStyle}&gt;
//                   ________________________________________________
//                 &lt;/Text&gt;
//               &lt;/View&gt;
//               &lt;Field
//                 label=&quot;Credit Card Type *&quot;
//                 name=&quot;creditCardType&quot;
//                 component={UserInputOptions}
//               /&gt;
//               &lt;Field
//                 label=&quot;Card Number *&quot;
//                 name=&quot;cardNumber&quot;
//                 component={UserInput}
//                 //validate={[required, phoneNumber]}
//               /&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, bottom: 15, left: 25 }}
//               &gt;
//                 &lt;View
//                   style={{
//                     flexDirection: &quot;row&quot;,
//                     right: Platform.OS === &quot;ios&quot; ? 55 : 105
//                   }}
//                 &gt;
//                   &lt;Label
//                     style={{
//                       color: &quot;#1F1F1D&quot;,
//                       top: 50,
//                       left: Platform.OS === &quot;ios&quot; ? -2 : 10,
//                       top: 68
//                     }}
//                   &gt;
//                     Card Security Code (CSC) *
//                   &lt;/Label&gt;
//                   {/* &lt;Image
//                     style={{ top: 50, left: 50, width: 90, height: 90 }}
//                     source={require(&quot;../assets/AssetPayment/CSC.png&quot;)}
//                   /&gt; */}
//                 &lt;/View&gt;
//                 &lt;Input style={style.inputCSC} /&gt;
//               &lt;/Item&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, left: 5, top: 10 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, left: 20, top: 10 }}&gt;
//                   Expiration Date *
//                 &lt;/Label&gt;
//                 &lt;View
//                   style={{
//                     flexDirection: &quot;row&quot;,
//                     justifyContent: &quot;space-between&quot;
//                   }}
//                 &gt;
//                   &lt;View style={style.inputBorderOptionStyle2Row1}&gt;
//                     &lt;Picker
//                       mode=&quot;dropdown&quot;
//                       iosIcon={
//                         &lt;Icon
//                           name=&quot;ios-arrow-dropdown&quot;
//                           style={{
//                             color: &quot;#707070&quot;,
//                             right: Platform.OS === &quot;ios&quot; ? 20 : 5
//                           }}
//                         /&gt;
//                       }
//                       style={style.pickerStyleRow}
//                       placeholder=&quot;Select Month&quot;
//                       placeholderStyle={{
//                         color: &quot;#090808&quot;,
//                         opacity: 0.68,
//                         fontFamily: &quot;Segoeui&quot;
//                       }}
//                       placeholderIconColor=&quot;#007aff&quot;
//                       selectedValue={this.state.selected2}
//                       onValueChange={this.onValueChange2.bind(this)}
//                     &gt;
//                       &lt;Item label=&quot;1&quot; value=&quot;key0&quot; /&gt;
//                       &lt;Item label=&quot;2&quot; value=&quot;key1&quot; /&gt;
//                       &lt;Item label=&quot;3&quot; value=&quot;key2&quot; /&gt;
//                       &lt;Item label=&quot;4&quot; value=&quot;key3&quot; /&gt;
//                       &lt;Item label=&quot;5&quot; value=&quot;key4&quot; /&gt;
//                       &lt;Item label=&quot;6&quot; value=&quot;key5&quot; /&gt;
//                       &lt;Item label=&quot;7&quot; value=&quot;key6&quot; /&gt;
//                       &lt;Item label=&quot;8&quot; value=&quot;key7&quot; /&gt;
//                       &lt;Item label=&quot;9&quot; value=&quot;key8&quot; /&gt;
//                       &lt;Item label=&quot;10&quot; value=&quot;key9&quot; /&gt;
//                       &lt;Item label=&quot;11&quot; value=&quot;key10&quot; /&gt;
//                       &lt;Item label=&quot;12&quot; value=&quot;key11&quot; /&gt;
//                     &lt;/Picker&gt;
//                   &lt;/View&gt;
//                   &lt;View style={style.inputBorderOptionStyle2Row2}&gt;
//                     &lt;Picker
//                       mode=&quot;dropdown&quot;
//                       iosIcon={
//                         &lt;Icon
//                           name=&quot;ios-arrow-dropdown&quot;
//                           style={{ color: &quot;#707070&quot; }}
//                         /&gt;
//                       }
//                       style={style.pickerStyleRow}
//                       placeholder=&quot;Select Year&quot;
//                       placeholderStyle={{
//                         color: &quot;#090808&quot;,
//                         opacity: 0.68,
//                         fontFamily: &quot;Segoeui&quot;
//                       }}
//                       placeholderIconColor=&quot;#007aff&quot;
//                       selectedValue={this.state.selected2}
//                       onValueChange={this.onValueChange2.bind(this)}
//                     &gt;
//                       &lt;Item label=&quot;2019&quot; value=&quot;key0&quot; /&gt;
//                       &lt;Item label=&quot;2020&quot; value=&quot;key1&quot; /&gt;
//                       &lt;Item label=&quot;2021&quot; value=&quot;key2&quot; /&gt;
//                       &lt;Item label=&quot;2022&quot; value=&quot;key3&quot; /&gt;
//                       &lt;Item label=&quot;2023&quot; value=&quot;key4&quot; /&gt;
//                       &lt;Item label=&quot;2024&quot; value=&quot;key5&quot; /&gt;
//                       &lt;Item label=&quot;2025&quot; value=&quot;key6&quot; /&gt;
//                       &lt;Item label=&quot;2026&quot; value=&quot;key7&quot; /&gt;
//                       &lt;Item label=&quot;2027&quot; value=&quot;key8&quot; /&gt;
//                       &lt;Item label=&quot;2028&quot; value=&quot;key9&quot; /&gt;
//                       &lt;Item label=&quot;2029&quot; value=&quot;key10&quot; /&gt;
//                       &lt;Item label=&quot;2030&quot; value=&quot;key11&quot; /&gt;
//                       &lt;Item label=&quot;2031&quot; value=&quot;key12&quot; /&gt;
//                       &lt;Item label=&quot;2032&quot; value=&quot;key13&quot; /&gt;
//                       &lt;Item label=&quot;2033&quot; value=&quot;key14&quot; /&gt;
//                       &lt;Item label=&quot;2034&quot; value=&quot;key15&quot; /&gt;
//                     &lt;/Picker&gt;
//                   &lt;/View&gt;
//                 &lt;/View&gt;

//                 &lt;Text
//                   style={{
//                     paddingTop: 20,
//                     right: Platform.OS === &quot;ios&quot; ? 15 : 50,
//                     width: Platform.OS === &quot;android&quot; ? 380 : 330
//                   }}
//                 &gt;
//                   No unemployment cards, child support cards or gift cards are
//                   accepted.
//                 &lt;/Text&gt;
//               &lt;/Item&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{
//                   borderColor: &quot;transparent&quot;,
//                   left: 25,
//                   top: 30,
//                   marginBottom: 30
//                 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, top: 10 }}&gt;
//                   Name as it appears on card
//                 &lt;/Label&gt;
//                 &lt;Input style={style.input} /&gt;
//               &lt;/Item&gt;

//               {/* billing address */}
//               &lt;View style={style.sectionStyle}&gt;
//                 &lt;Text style={style.sectionTextStyle}&gt;Billing Address *&lt;/Text&gt;
//                 &lt;Text style={style.sectionTextStyle}&gt;
//                   ________________________________________________
//                 &lt;/Text&gt;
//               &lt;/View&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, left: 25, top: 10 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, top: 10 }}&gt;
//                   Street Address *
//                 &lt;/Label&gt;
//                 &lt;Input style={style.input} /&gt;
//               &lt;/Item&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, left: 25, top: 10 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, top: 10 }}&gt;City *&lt;/Label&gt;
//                 &lt;Input style={style.input} /&gt;
//               &lt;/Item&gt;
//               &lt;Field
//                 label=&quot;State *&quot;
//                 name=&quot;stateLicenseNumber&quot;
//                 component={UserInputOptions}
//               /&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, left: 25, top: 10 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, top: 10 }}&gt;Zip Code *&lt;/Label&gt;
//                 &lt;Input style={style.input} /&gt;
//               &lt;/Item&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, left: 25, top: 10 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, top: 10 }}&gt;
//                   Day Phone Number *
//                 &lt;/Label&gt;
//                 &lt;Input style={style.input} /&gt;
//               &lt;/Item&gt;
//               &lt;Item
//                 stackedLabel
//                 style={{ borderColor: &quot;transparent&quot;, left: 25, top: 10 }}
//               &gt;
//                 &lt;Label style={{ color: &quot;#1F1F1D&quot;, top: 10 }}&gt;
//                   Email Address *
//                 &lt;/Label&gt;
//                 &lt;Input style={style.input} /&gt;
//               &lt;/Item&gt;
//             &lt;/Form&gt;

//             &lt;View style={style.buttons}&gt;
//               &lt;Button
//                 block
//                 style={style.button}
//                 button
//                 onPress={() =&gt; this.props.navigation.navigate(&quot;Complete&quot;)}
//               &gt;
//                 &lt;Text style={style.textStyle}&gt;Pay&lt;/Text&gt;
//               &lt;/Button&gt;
//             &lt;/View&gt;

//             &lt;View style={style.backButton}&gt;
//               &lt;Right&gt;
//                 &lt;Button
//                   transparent
//                   onPress={() =&gt; this.props.navigation.goBack()}
//                 &gt;
//                   &lt;Image
//                     source={require(&quot;../../assets/newRegistration/backButton.png&quot;)}
//                   /&gt;
//                 &lt;/Button&gt;
//               &lt;/Right&gt;
//             &lt;/View&gt;
//           &lt;/Content&gt;
//         ) : (
//           &lt;Text&gt;Please go to New registration page first.&lt;/Text&gt;
//         )}
//       &lt;/Container&gt;
//     );
//   }
// }

// const mapStateToProps = state =&gt; ({
//   reviewAgencyID:
//     state.form &amp;&amp; state.form.s1 &amp;&amp; state.form.s1.values
//       ? state.form.s1.values.reviewAgencyID
//       : null,
//   reason:
//     state.form &amp;&amp; state.form.s1 &amp;&amp; state.form.s1.values
//       ? state.form.s1.values.reason
//       : null,
//   lastName:
//     state.form &amp;&amp; state.form.s2 &amp;&amp; state.form.s2.values
//       ? state.form.s2.values.lastName
//       : null,
//   firstName:
//     state.form &amp;&amp; state.form.s2 &amp;&amp; state.form.s2.values
//       ? state.form.s2.values.firstName
//       : null
// });

// const PaymentPage = connect(mapStateToProps)(PaymentPageNotConnected);

// export default reduxForm({ form: &quot;PaymentPage&quot; })(withNavigation(PaymentPage));

// const style = StyleSheet.create({
//   headerStyle: {
//     flexDirection: &quot;row&quot;,
//     justifyContent: &quot;center&quot;,
//     alignItems: &quot;center&quot;,
//     width: &quot;auto&quot;,
//     height: 90,
//     backgroundColor: &quot;#3e4649&quot;,
//     shadowRadius: 6,
//     shadowOpacity: 1,
//     borderStyle: &quot;solid&quot;,
//     borderWidth: 1,
//     borderColor: &quot;#707070&quot;
//   },
//   logo: {
//     color: &quot;#ffffff&quot;,
//     fontSize: 30,
//     marginRight: Platform.OS === &quot;ios&quot; ? 0 : 35,
//     marginTop: Platform.OS === &quot;ios&quot; ? 0 : 20
//   },
//   headerTitle: {
//     fontFamily: &quot;OpenSans-Semibold&quot;,
//     fontSize: 13,
//     textAlign: &quot;center&quot;,
//     color: &quot;#ffffff&quot;
//   },
//   departmentBg: {
//     width: Platform.OS === &quot;ios&quot; ? 500 : 500,
//     height: 74.45703125,
//     backgroundColor: &quot;#f1f4f8&quot;
//   },
//   courtLogo: {
//     top: 8,
//     left: 8,
//     width: 52,
//     height: 52
//   },
//   departmentTitle: {
//     bottom: 25,
//     left: 70,
//     width: Platform.OS === &quot;ios&quot; ? 280 : 380,
//     height: 28.45703125,
//     overflow: &quot;hidden&quot;,
//     fontFamily: &quot;OpenSans-Regular&quot;,
//     fontSize: 13,
//     fontWeight: &quot;bold&quot;,
//     textAlign: &quot;left&quot;,
//     color: &quot;#3e4649&quot;
//   },
//   newRegistrationStyle: {
//     fontFamily: &quot;Roboto-Medium&quot;,
//     fontSize: 15,
//     color: &quot;#1F1F1D&quot;,
//     paddingTop: 15,
//     right: Platform.OS === &quot;ios&quot; ? 0 : 40,
//     textAlign: &quot;center&quot;
//   },
//   sectionStyle: {
//     paddingTop: 50,
//     paddingLeft: 20,
//     paddingRight: 20
//   },
//   sectionTextStyle: {
//     fontSize: 15,
//     fontFamily: &quot;Segoeui&quot;,
//     color: &quot;#01366C&quot;,
//     left: 25
//   },
//   listStyle: {
//     justifyContent: &quot;center&quot;,
//     alignItems: &quot;center&quot;,
//     width: 259,
//     height: 259.943359375,
//     overflow: &quot;hidden&quot;,
//     color: &quot;#000100&quot;,
//     top: 10,
//     left: 50,
//     right: 40,
//     bottom: 10
//   },
//   button1: {
//     justifyContent: &quot;space-between&quot;,
//     marginBottom: 5,
//     width: 259,
//     height: 32,
//     backgroundColor: &quot;#b8bdc4&quot;
//   },
//   buttonText: {
//     fontFamily: &quot;Segoeui&quot;,
//     fontSize: 15,
//     color: &quot;#000100&quot;,
//     textAlign: &quot;center&quot;,
//     paddingTop: 5,
//     paddingBottom: 25,
//     paddingRight: 15,
//     width: 270,
//     height: 32
//   },
//   backButton: {
//     bottom: Platform.OS === &quot;ios&quot; ? 100 : 80,
//     right: Platform.OS === &quot;ios&quot; ? 130 : 190
//   },
//   tickBox: {
//     top: 53,
//     left: 20,
//     borderRadius: 0,
//     borderColor: &quot;#3e4649&quot;
//   },
//   tickText: {
//     top: 35,
//     bottom: 25,
//     left: 60,
//     width: 225.42114257812,
//     height: 28.45703125,
//     overflow: &quot;hidden&quot;,
//     fontFamily: &quot;Segoeui&quot;,
//     fontSize: 15,
//     textAlign: &quot;left&quot;,
//     color: &quot;#000100&quot;
//   },
//   progressBar: {
//     justifyContent: &quot;center&quot;,
//     alignItems: &quot;center&quot;,
//     width: 360,
//     left: Platform.OS === &quot;ios&quot; ? 10 : 20
//   },
//   input: {
//     top: Platform.OS === &quot;ios&quot; ? 10 : 20,
//     marginBottom: Platform.OS === &quot;ios&quot; ? 0 : 20,
//     width: Platform.OS === &quot;android&quot; ? 380 : 330,
//     borderWidth: 1,
//     borderColor: &quot;#707070&quot;,
//     textAlign: &quot;center&quot;
//   },
//   inputCSC: {
//     width: 190,
//     height: 40,
//     borderWidth: 1,
//     borderColor: &quot;#707070&quot;,
//     textAlign: &quot;center&quot;,
//     fontFamily: &quot;Segoeui-Semibold&quot;
//   },
//   inputBorderStyle: {
//     borderColor: &quot;transparent&quot;,
//     left: 5,
//     marginBottom: 20
//   },
//   inputBorderOptionStyle: {
//     top: Platform.OS === &quot;ios&quot; ? 10 : 20,
//     right: Platform.OS === &quot;ios&quot; ? 0 : 50,
//     marginBottom: Platform.OS === &quot;ios&quot; ? 0 : 20,
//     width: Platform.OS === &quot;android&quot; ? 380 : 330,
//     borderWidth: Platform.OS === &quot;ios&quot; ? 0 : 1,
//     borderColor: Platform.OS === &quot;ios&quot; ? 0 : &quot;#707070&quot;
//   },
//   inputBorderOptionStyle2Row1: {
//     top: Platform.OS === &quot;ios&quot; ? 10 : 20,
//     right: Platform.OS === &quot;ios&quot; ? 30 : 70,
//     marginBottom: Platform.OS === &quot;ios&quot; ? 0 : 20,
//     width: Platform.OS === &quot;android&quot; ? 170 : 150,
//     borderWidth: 1,
//     borderColor: &quot;#707070&quot;
//   },
//   inputBorderOptionStyle2Row2: {
//     top: Platform.OS === &quot;ios&quot; ? 10 : 20,
//     right: Platform.OS === &quot;ios&quot; ? 0 : 30,
//     marginBottom: Platform.OS === &quot;ios&quot; ? 0 : 20,
//     width: Platform.OS === &quot;android&quot; ? 170 : 150,
//     borderWidth: 1,
//     borderColor: &quot;#707070&quot;
//   },
//   pickerStyle: {
//     top: 10,
//     right: 15,
//     width: Platform.OS === &quot;android&quot; ? 380 : 330,
//     borderWidth: 1,
//     borderColor: &quot;#707070&quot;,
//     borderRadius: 0,
//     marginBottom: Platform.OS === &quot;ios&quot; ? 20 : 0
//   },
//   buttons: {
//     flex: 1,
//     flexDirection: &quot;row&quot;,
//     alignSelf: &quot;center&quot;,
//     top: Platform.OS === &quot;ios&quot; ? 0 : 10,
//     bottom: Platform.OS === &quot;ios&quot; ? 0 : 50,
//     height: 200,
//     right: Platform.OS === &quot;ios&quot; ? 0 : 40
//   },
//   button: {
//     top: 50,
//     width: 150,
//     height: 32,
//     borderRadius: 0,
//     backgroundColor: &quot;#b8bdc4&quot;
//   },
//   textStyle: {
//     color: &quot;#000100&quot;,
//     fontFamily: &quot;Segoeui&quot;,
//     fontSize: 15
//   },
//   checkBoxText: {
//     top: 30,
//     left: 20,
//     width: 330,
//     color: &quot;#7A7A7A&quot;,
//     fontFamily: &quot;Segoeui&quot;,
//     fontSize: 14
//   },
//   unemploymentNote: {
//     top: 15,
//     marginBottom: Platform.OS === &quot;ios&quot; ? 0 : 20,
//     width: 330,
//     right: Platform.OS === &quot;ios&quot; ? 10 : 70,
//     color: &quot;#7A7A7A&quot;,
//     fontFamily: &quot;Segoeui&quot;,
//     fontSize: 14
//   },
//   placeholderStyle: {
//     color: &quot;#090808&quot;,
//     opacity: 0.68,
//     fontFamily: &quot;Segoeui&quot;
//   }
// });
</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
